Repository mderkach/webpack-blank: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --cache --fix"
  ],
  "src/**/*.{css,scss,sass}": [
    "stylelint --fix"
  ]
}

feat: init webpack [test-0]
  .browserslistrc
  .eslintrc
  config/constants.js
  config/webpack.config.cache.js
  config/webpack.config.env.js
  config/webpack.config.js
  config/webpack.config.modules.js
  config/webpack.config.styles.js
  package-lock.json
  package.json
  src/index.html
  src/index.tsx
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  tsconfig.json
Due: eslint --cache --fix

fix: scss modules support [test-0]
  config/constants.js
  config/webpack.config.js
  config/webpack.config.styles.js
  package-lock.json
  package.json
  src/App.module.scss
  src/index.tsx
Due: eslint --cache --fix, stylelint --fix

fix: eslint for js, separate webpack config, added images minification [test-0]
  .babelrc
  .eslintrc
  config/webpack.config.dev.js
  config/webpack.config.js
  config/webpack.config.prod.js
  package-lock.json
  package.json
  tsconfig.json
Due: none

fix: deprecation warnings [test-0]
  config/webpack.config.js
  config/webpack.config.prod.js
  config/webpack.config.styles.js
Due: none

fix: lint, css emit [test-0]
  config/constants.js
  config/postcss.config.js
  config/webpack.config.cache.js
  config/webpack.config.dev.js
  config/webpack.config.env.js
  config/webpack.config.js
  config/webpack.config.modules.js
  config/webpack.config.prod.js
  config/webpack.config.styles.js
Due: none

fix: some fixup [test-0]
  config/webpack.config.js
  tsconfig.json
Due: none

refactor: remove unused dependencies [test-0]
  package-lock.json
  package.json
Due: none

refactor: image oprimization [test-0]
  .stylelintrc
  config/webpack.config.js
  config/webpack.config.prod.js
  package-lock.json
  package.json
  src/assets/img/1.png
  src/assets/img/2.gif
  src/assets/img/3.jpeg
  src/components/App/App.module.scss
  src/components/App/App.tsx
  src/components/App/index.ts
  src/components/index.ts
  src/index.tsx
  tsconfig.json
Due: eslint --cache --fix, stylelint --fix

feat: scss mixins [test-0]
  .eslintignore
  .stylelintignore
  .stylelintrc
  .vscode/settings.json
  src/scss/README.md
  src/scss/utils/_index.scss
  src/scss/utils/_mixins.scss
  src/scss/utils/functions/_divide.scss
  src/scss/utils/mixins/_abs.scss
  src/scss/utils/mixins/_font.scss
  src/scss/utils/mixins/_keyframes.scss
  src/scss/utils/mixins/_pseudo.scss
  src/scss/utils/mixins/_rem.scss
  src/scss/utils/mixins/_rfs.scss
  src/scss/utils/mixins/_size.scss
  src/scss/utils/mixins/_triangle.scss
  src/scss/utils/mixins/_truncate.scss
  src/scss/utils/mixins/_vertical-center.scss
Due: stylelint --fix

fix: fix sass libs import [test-0]
  src/scss/_index.scss
  src/scss/utils/functions/_divide.scss
  src/scss/utils/mixins/_rfs.scss
  src/scss/utils/mixins/_triangle.scss
Due: stylelint --fix

fix: dev server setting and handle images in dev mode via webpack [test-0]
  config/constants.js
  config/css.modules.config.js
  config/webpack.config.dev.js
  config/webpack.config.https.js
  config/webpack.config.js
  config/webpack.config.prod.js
  package-lock.json
  package.json
  src/components/App/App.tsx
  src/index.html
  src/react-app-env.d.ts
  tsconfig.json
Due: eslint --cache --fix

feat: added support for fonts [test-0]
  config/webpack.config.dev.js
  config/webpack.config.js
  config/webpack.config.styles.js
  src/assets/fonts/.gitkeep
  src/assets/fonts/Rubick/rubick-black.woff2
  src/assets/fonts/Rubick/rubick-bold.woff2
  src/assets/fonts/Rubick/rubick-light.woff2
  src/assets/fonts/Rubick/rubick-medium.woff2
  src/assets/fonts/Rubick/rubick-regular.woff2
  src/assets/img/.gitkeep
  src/components/.gitkeep
  src/components/App/App.module.scss
  src/index.scss
  src/index.tsx
  src/scss/_fonts.scss
  src/scss/main.scss
  src/scss/utils/_mixins.scss
  src/scss/utils/mixins/_font.scss
  src/scss/utils/mixins/_rem.scss
Due: eslint --cache --fix, stylelint --fix

feat: added support for unicode range to font-face mixin, added stylelint to webpack [test-0]
  .lintstagedrc
  .stylelintrc
  config/webpack.config.https.js
  config/webpack.config.js
  package-lock.json
  package.json
  src/scss/_fonts.scss
  src/scss/utils/functions/_divide.scss
  src/scss/utils/mixins/_font.scss
Due: stylelint --fix

feat: support svg sprites [test-0]
  config/constants.js
  config/svgo.config.js
  config/webpack.config.js
  config/webpack.config.prod.js
  package-lock.json
  package.json
  src/assets/icons/icon-liga.svg
  src/components/App/App.tsx
  src/react-app-env.d.ts
Due: eslint --cache --fix

fix: remove unused [test-0]
  .lintstagedrc
  src/assets/icons/.gitkeep
  src/assets/icons/icon-liga.svg
  src/assets/img/1.png
  src/assets/img/2.gif
  src/assets/img/3.jpeg
  src/components/App/App.module.scss
  src/components/App/App.tsx
  src/components/App/index.ts
  src/components/index.ts
  src/index.tsx
  src/scss/_fonts.scss
  src/scss/main.scss
Due: eslint --cache --fix, stylelint --fix

feat: added https support [test-0]
  .env.development.local
  .gitignore
  cert/.gitkeep
  config/constants.js
  config/webpack.config.dev.js
  config/webpack.config.env.js
  config/webpack.config.https.js
  config/webpack.config.js
Due: none
